.producto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.producto-img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  background-color: rebeccapurple;
}

.producto-name{
  font-size: 5rem;
  font-weight: bolder;
}
.producto-desc{
  font-size: 1.8rem;
}
.producto-prec{
  font-size: 2.5rem;
  font-weight: bolder;

}
.producto-{}